#!/bin/sh

localFilePath=/var/www/environments/default/full_php_browscap.ini
remoteVersionURL=http://browscap.org/version-number
remoteFileURL="http://browscap.org/stream?q=BrowsCapINI"

#echo "checking local file" #DEBUG
localVersion=$(grep ^Version $localFilePath | head -n 1 | awk -F'=' '{print $NF}')
#echo "local ver: $localVersion" #DEBUG

#echo "checking remote file" #DEBUG
remoteVersion=$(curl --silent $remoteVersionURL)
#echo "remote ver: $remoteVersion" #DEBUG

if [[ "$localVersion" -ne "$remoteVersion" ]]; then
	#echo "Downloading new file"
	#echo "wget -O $localFilePath $remoteFileURL 1>/dev/null 2>&1"
	/usr/bin/wget -O $localFilePath $remoteFileURL 1>/dev/null 2>&1
	/usr/sbin/apachectl graceful >/tmp/apache_restart.out 2>&1 || /bin/mail -s "{{ ansible_hostname }}: Apache reload in update-php-browscap has failed " local-admin@listserv.university.edu < /tmp/apache_restart.out
fi
