The University of State at City

Unauthorized access to this system is prohibited

This is a University system intended for University purposes only.
The University reserves the right to monitor the use of this system as
required to ensure its stability, availability, and security.

Use your Onyen credentials to authenticate.

Help? send email to redacted@university.edu
{# {% if cluster_submit_host is not defined %} #}
{# {% set cluster_submit_host = 'no' %} #}
{# {% endif %} #}
{% if cluster_submit_host is defined and cluster_submit_host=='yes' %}

Cluster information? http://REDACTED
{% endif %}




