/var/www/logs/*/*log{
    daily
    missingok
    rotate 10
    size 10M
    compress
    delaycompress
    notifempty
    delaycompress
    sharedscripts
    prerotate
        /usr/share/awstats/tools/awstats_updateall.pl now -configdir="/etc/awstats" -awstatsprog="/usr/share/awstats/wwwroot/cgi-bin/awstats.pl" >/dev/null
    endscript
    postrotate
        /usr/sbin/apachectl restart >/tmp/apache_restart.out 2>&1 || /bin/mail -s "{{ ansible_hostname }}: Apache reload in log rotation has failed " local-admin@listserv.university.edu </tmp/apache_restart.out
    endscript
}
