{# ################### #}
{# set port if defined #}
{% if item.1.usessl == 'Y' %}
{% if item.1.sslport is not defined %}
{% set port = "" %}
{% else %}
{% set port = ':' + item.1.sslport|string %}
{% endif %}
{% else %}
{% if item.1.port is not defined %}
{% set port = "" %}
{% else %}
{% set port = ':' + item.1.port|string %}
{% endif %}
{% endif %}
{# ################### #}
<html>
<head>
	<title>{{ ansible_hostname }} Website Statistics</title>
</head>

<body>
<h1>{{ ansible_hostname }} Website Statistics</h1>
{% for web_env in web_environments %}
<h2>Environment: {{ web_env.env_name }}</h2>
{% for website in web_env.websites %}
{% if item.1.usessl == 'Y' %}
<p><a href=https://{{ item.1.servername }}{{ port }}/awstats/awstats.pl?config={{web_env.env_name}}_{{website.site_name}}>{{website.site_name}}</a></p>
{% else %}
<p><a href=http://{{ item.1.servername }}{{ port }}/awstats/awstats.pl?config={{web_env.env_name}}_{{website.site_name}}>{{website.site_name}}</a></p>
{% endif %}
{% endfor %}

{% endfor %}

</body>
</html>
